## Introduction to Data Cleaning and Manipulation

Before diving into analysis, it is essential to ensure our dataset—Spotify's top listening history songs—is clean, consistent, and well-structured. Data cleaning and manipulation are crucial steps that help us:

- **Remove inconsistencies:** Address missing values, duplicates, and formatting issues.
- **Standardize data:** Ensure uniformity in artist names, song titles, and genres.
- **Enhance usability:** Create new features, filter relevant records, and prepare the data for insightful analysis.

Additionally, it is important to import the necessary libraries required for data analysis, such as pandas for data manipulation, matplotlib and seaborn for visualization, and others as needed.

By carefully cleaning and manipulating the dataset, we lay a solid foundation for accurate and meaningful exploration of listening trends and patterns on Spotify.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


# Set some display options for better viewing of DataFrames
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [6]:
# Load the dataset
df = pd.read_csv('spotify_history.csv')
# Display the first few rows of the DataFrame to ensure it's loaded correctly
df.head()

        spotify_track_uri                   ts    platform  ms_played                                     track_name        artist_name                          album_name reason_start reason_end  shuffle  skipped
0  2J3n32GeLmMjwuAzyhcSNe  2013-07-08 02:44:34  web player       3185                            Say It, Just Say It       The Mowgli's                Waiting For The Dawn     autoplay   clickrow    False    False
1  1oHxIPqJyvAYHy0PVrDU98  2013-07-08 02:45:37  web player      61865  Drinking from the Bottle (feat. Tinie Tempah)      Calvin Harris                           18 Months     clickrow   clickrow    False    False
2  487OPlneJNni3NWC8SYqhW  2013-07-08 02:50:24  web player     285386                                    Born To Die       Lana Del Rey  Born To Die - The Paradise Edition     clickrow    unknown    False    False
3  5IyblF777jLZj1vGHG2UD3  2013-07-08 02:52:40  web player     134022                               Off To The Races       Lana Del Rey  Born To Die - The Paradise Edition    trackdone   clickrow    False    False
4  0GgAAB0ZMllFhbNc3mAodO  2013-07-08 03:17:52  web player          0                                      Half Mast  Empire Of The Sun                  Walking On A Dream     clickrow    nextbtn    False    False

In [8]:
# Discover basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149860 entries, 0 to 149859
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   spotify_track_uri  149860 non-null  object
 1   ts                 149860 non-null  object
 2   platform           149860 non-null  object
 3   ms_played          149860 non-null  int64
 4   track_name         149860 non-null  object
 5   artist_name        149860 non-null  object
 6   album_name         149860 non-null  object
 7   reason_start       149717 non-null  object
 8   reason_end         149743 non-null  object
 9   shuffle            149860 non-null  bool
 10  skipped            149860 non-null  bool
dtypes: bool(2), int64(1), object(8)
memory usage: 10.6+ MB

In [15]:
# Load descriptive statistics
df.describe()

          ms_played
count  1.496480e+05
mean   1.282949e+05
std    1.178286e+05
min    0.000000e+00
25%    2.790750e+03
50%    1.388400e+05
75%    2.184940e+05
max    1.561125e+06

In [11]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()

# Display the missing values
print("Missing values in each column:")
if missing_values.sum() == 0:
    print("No missing values found in the dataset.")
else:
    print(missing_values)

Missing values in each column:
spotify_track_uri      0
ts                     0
platform               0
ms_played              0
track_name             0
artist_name            0
album_name             0
reason_start         143
reason_end           117
shuffle                0
skipped                0
dtype: int64

In [14]:
# Drop rows with missing values in 'reason_start' and 'reason_end' columns
df.dropna(subset=['reason_start', 'reason_end'], inplace=True)

# Verify that the missing values have been handled
missing_values_after = df.isnull().sum()
print("Missing values after handling:")
if missing_values_after.sum() == 0:
    print("No missing values found in the dataset after handling.")

Missing values after handling:
No missing values found in the dataset after handling.

In [16]:
# Check duplicates in the dataset
duplicates = df.duplicated().sum()  
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 1185

In [17]:
# Drop duplicates in the dataset
df.drop_duplicates(inplace=True)    
# Verify that the duplicates have been handled
duplicates_after = df.duplicated().sum()
print(f"Number of duplicate rows after handling: {duplicates_after}")

Number of duplicate rows after handling: 0

In [19]:
# Check data type consistency
print("Data types of each column:")
print(df.dtypes)
# Check for unique values in categorical columns
categorical_columns = ['platform', 'reason_start', 'reason_end', 'artist_name',
                          'track_name']

Data types of each column:
spotify_track_uri    object
ts                   object
platform             object
ms_played             int64
track_name           object
artist_name          object
album_name           object
reason_start         object
reason_end           object
shuffle                bool
skipped                bool
dtype: object

In [21]:
# Convert 'ts' column to datetime format
df['ts'] = pd.to_datetime(df['ts'])
print("\n'ts' column converted to datetime:")
print(df['ts'].dtype) # Verify the change

'ts' column converted to datetime:
datetime64[ns]

In [24]:
# Standardize categorical values
for col in categorical_columns:
    if df[col].dtype == 'object':
        # Convert to lowercase and strip whitespace
        df[col] = df[col].str.lower().str.strip()
        # Display unique values after standardization
        print(f"Unique values in '{col}' after standardization:")
        print(df[col].unique())

Unique values in 'platform' after standardization:
['web player' 'windows' 'android' 'ios' 'cast to device' 'mac']
Unique values in 'reason_start' after standardization:
['autoplay' 'clickrow' 'trackdone' 'nextbtn' 'backbtn' 'unknown' 'popup'
 'appload' 'fwdbtn' 'trackerror' 'remote' 'endplay' 'playbtn']
Unique values in 'reason_end' after standardization:
['clickrow' 'unknown' 'nextbtn' 'trackdone' 'backbtn' 'reload' 'popup'
 'endplay' 'fwdbtn' 'appload' 'unexpected-exit-while-paused'
 'unexpected-exit' 'logout' 'remote' 'trackerror']
Unique values in 'artist_name' after standardization:
["the mowgli's" 'calvin harris' 'lana del rey' ... 'rudy snow'
 'ultra band' 'jesse welles']
Unique values in 'track_name' after standardization:
['say it, just say it' 'drinking from the bottle (feat. tinie tempah)'
 'born to die' ... 'oo-de-lally - from "robin hood"' 'king of the road'
 'chug-a-lug']

In [25]:
# Reveal first 20 rows of the DataFrame
print("First 20 rows of the DataFrame:")
print(df.head(20))

First 20 rows of the DataFrame:
         spotify_track_uri                  ts    platform  ms_played                                     track_name            artist_name                                         album_name reason_start reason_end  shuffle  skipped
0   2J3n32GeLmMjwuAzyhcSNe 2013-07-08 02:44:34  web player       3185                            say it, just say it           the mowgli's                               Waiting For The Dawn     autoplay   clickrow    False    False
1   1oHxIPqJyvAYHy0PVrDU98 2013-07-08 02:45:37  web player      61865  drinking from the bottle (feat. tinie tempah)          calvin harris                                          18 Months     clickrow   clickrow    False    False
2   487OPlneJNni3NWC8SYqhW 2013-07-08 02:50:24  web player     285386                                    born to die           lana del rey                 Born To Die - The Paradise Edition     clickrow    unknown    False    False
3   5IyblF777jLZj1vGHG2UD3 2013-07-08 02:52:40  web player     134022                               off to the races           lana del rey                 Born To Die - The Paradise Edition    trackdone   clickrow    False    False
4   0GgAAB0ZMllFhbNc3mAodO 2013-07-08 03:17:52  web player          0                                      half mast      empire of the sun                                 Walking On A Dream     clickrow    nextbtn    False    False
5   50VNvhzyaSplJCKWchN7a8 2013-07-08 03:17:52  web player      63485                                     impossible           james arthur                                         Impossible     clickrow   clickrow    False    False
6   1I4EczxGBcPR3J3KeyqFJP 2013-07-08 03:17:56  web player          0                                 we own the sky                    m83                                  Saturdays = Youth      nextbtn    nextbtn    False    False
7   5arVt2Wg0zbiWwAOZef2Nl 2013-07-08 03:17:56  web player       1268                higher ground - remastered 2003  red hot chili peppers                                      Mother's Milk      nextbtn    nextbtn    False    False
8   1ixtaZc0Adil3yD1ItPqSl 2013-07-08 03:17:58  web player          0                                  happy up here               röyksopp                                      Happy Up Here      nextbtn    nextbtn    False    False
9   2v5mpowLQNFN7NC46l0bJS 2013-07-08 03:19:11  web player          0                                        phantom                justice                                            Phantom      nextbtn   clickrow    False    False
10  07hII2Rc29q4F2nTE3P1od 2013-07-08 03:20:20  web player      67587    sun - gildas kitsunй club night short remix   two door cinema club  The Kitsuné Special Edition #3 (Kitsuné Maison...     clickrow   clickrow    False    False
11  4kO7mrAPfqIrsKwUOK5BFx 2013-07-08 03:20:36  web player      12846                                  midnight city                    m83                           Hurry Up, We're Dreaming     clickrow   clickrow    False    False
12  4oTIuUmpE2xdXrpon9lgfJ 2013-07-08 03:21:13  web player      36132                                         heaven            emeli sandé                              Our Version Of Events     clickrow   clickrow    False    False
13  49h0RYK3yzWkfbVyNJjJ01 2013-07-08 03:22:51  web player      95817                               do i wanna know?         arctic monkeys                                   Do I Wanna Know?     clickrow   clickrow    False    False
14  4iG2gAwKXsOcijVaVXzRPW 2013-07-08 03:22:54  web player       1763                                time to pretend                   mgmt                               Oracular Spectacular     clickrow    nextbtn    False    False
15  19K3lUMJmOdeuOBTrbLm19 2013-07-08 03:33:38  web player      45712                                   weekend wars                   mgmt                               Oracular Spectacular      nextbtn    nextbtn    False    False
16  5nv854ey1k43KaZ0kHmE4Z 2013-07-08 03:37:30  web player     228021                                      the youth                   mgmt                               Oracular Spectacular      nextbtn    unknown    False    False
17  3FtYbEfBqAlGO46NUDQSAt 2013-07-08 03:41:21  web player     229589                                  electric feel                   mgmt                               Oracular Spectacular    trackdone  trackdone    False    False
18  1jJci4qxiYcOHhQR247rEU 2013-07-08 03:41:30  web player       7332                                           kids                   mgmt                               Oracular Spectacular    trackdone   clickrow    False    False
19  4Sfa7hdVkqlM8UW5LsSY3F 2013-07-08 03:45:10  web player     217935                                    take a walk            passion pit                                           Gossamer     clickrow   clickrow    False    False

In [27]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('spotify_history_cleaned.csv', index=False)

### Data Cleaning Process: Issues and Solutions

The data cleaning process involved several key steps to ensure the Spotify listening history dataset was accurate, consistent, and ready for analysis:

1. **Handling Missing Values**  
    - **Issue:** Some columns, notably `reason_start` and `reason_end`, contained missing values.
    - **Solution:** Rows with missing values in these critical columns were dropped using `df.dropna(subset=['reason_start', 'reason_end'], inplace=True)`. This ensured that subsequent analyses would not be affected by incomplete records.

2. **Removing Duplicates**  
    - **Issue:** Duplicate rows were present, which could skew analysis results.
    - **Solution:** Duplicates were identified with `df.duplicated().sum()` and removed using `df.drop_duplicates(inplace=True)`. This step ensured each listening event was unique.

3. **Ensuring Data Type Consistency**  
    - **Issue:** The `ts` (timestamp) column was not in datetime format, which could hinder time-based analysis.
    - **Solution:** The column was converted to datetime using `pd.to_datetime()`, enabling accurate time-series operations.

4. **Standardizing Categorical Values**  
    - **Issue:** Inconsistent formatting (e.g., capitalization, extra spaces) in categorical columns like `artist_name` and `track_name`.
    - **Solution:** All string values in categorical columns were converted to lowercase and stripped of whitespace. This standardization reduced redundancy and improved grouping accuracy.

5. **Verifying Cleanliness**  
    - **Issue:** After cleaning, it was important to confirm that all issues were resolved.
    - **Solution:** The dataset was re-checked for missing values and duplicates, confirming that no further cleaning was necessary.

By systematically addressing these issues, the dataset was transformed into a reliable foundation for further exploration and analysis.

## Section 2: Hypothesis Testing

In this section, we will perform hypothesis testing to explore patterns and trends in the cleaned Spotify listening history dataset. Hypothesis testing allows us to make data-driven inferences about user behavior and listening preferences.

**Example Hypotheses:**
- *H1: Tracks played on mobile platforms are skipped more frequently than those played on web platforms.*
- *H2: Songs played in shuffle mode have a higher skip rate than those played sequentially.*
- *H3: Certain artists or genres are associated with longer listening durations.*

**Workflow:**
1. **Formulate Hypotheses:** Clearly state the null and alternative hypotheses for each question.
2. **Select Statistical Tests:** Choose appropriate tests (e.g., t-test, chi-square test) based on data type and hypothesis.
3. **Analyze Results:** Interpret p-values and test statistics to accept or reject the null hypothesis.
4. **Draw Conclusions:** Summarize findings and their implications for user listening behavior.

By applying hypothesis testing, we can uncover statistically significant insights and validate assumptions about Spotify listening habits.